<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mappa di Gino</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/pizza.js"></script>
</head>
<body>
<div id="app">
    <div class="pizza-list">
        <div v-for="pizza in pizzas">
            <div>{{ pizza.label }}</div>
            <div>Nombre d'ingredients :
                {{ pizza.ingredients ? pizza.ingredients.length : 0 }}
            </div>
            <div>Prix: {{pizza.prix}}€</div>
        </div>
        <div>
            <button v-on:click="create = true; newPizza = {}">
                Ajouter une nouvelle pizza
            </button>
        </div>
    </div>
    <div class="pizza-form" v-if="create">
        <div>
            Nom de la pizza<br>
            <input v-model="newPizza.label">
        </div>
        <div>
            Ingredients :
            <span v-for="ingredient in newPizza.ingredients"
                  v-if="newPizza.ingredients">
                {{ ingredient.label }}
            </span><br>
            <select v-model="newIngredient" v-on:change="addIngredient()">
                <option></option>
                <option v-bind:value="ingredient"
                        v-for="ingredient in ingredients">
                    {{ ingredient.label }}
                </option>
            </select>
            <div>
                <button v-on:click="createPizza()">
                    Enregistrer la nouvelle pizza
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>