<!-- Navbar-->
<header class="header">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="../css/header.css" rel="stylesheet">
    <link href="../js/header.js" rel="script">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a class="navbar-brand text-uppercase font-weight-bold" href="#">Entete du site</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right" data-target="#navbarSupportedContent"
                    data-toggle="collapse"
                    type="button"><i class="fa fa-bars"></i></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link text-uppercase font-weight-bold" href="/user/">Home
                        <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="/public/">Gallery</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="public/contact">Contact</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-uppercase font-weight-bold" href="/public/lang">change
                        language</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>