<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/panier.js"></script>
</head>
<body>
<div id="app">
    <div class="panier">
        Nombre de pizzas dans le panier : {{panier && panier.pizzas? panier.pizzas.length : 0}}
    </div>
    <div class="pizza-list">
        <div class="pizza-item" v-for="(pizza_panier, index) in panier.pizzas">
            <div class="association" v-for="pizza in pizzas" v-if="pizza.id == pizza_panier.id">
                nom_pizza :: {{pizza.label}}<br>
                prix_pizza :: {{pizza.prix}}<br>
                calories_pizza :: {{pizza.calories}}<br>
                <button v-on:click="enleverPizza(pizza.id)">Enlever la pizza</button>
            </div>
        </div>
        <div class="commande">
            calories total : {{panier.totalCalories}}<br>
            prix total : {{panier.totalPrix}}<br>
            <button v-on:click="confirmAction()">Commander</button>
            <a href="/index.html">Ajouter d'autre pizzas à ma commande</a>
        </div>
        <br>
    </div>
</div>
</body>
</html>